#*
 * (C) Copyright 2011-2015 FastConnect SAS
 * (http://www.fastconnect.fr/) and others.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Lifecycles

For the purpose of creating a lifecycle for the different BusinessWorks elements
(EAR & Projlib), this plugin overrides the default Maven lifecycles. To do so,
there are several "packaging" created :
	
* <b>bw-ear</b> is used to generate a TIBCO BusinessWorks application composed of a
TIBCO BusinessWorks EAR and its configuration files (XML & properties).

* <b>bw-ear-deploy</b> is used to configure and deploy a TIBCO BusinessWorks
application on server-side.
	
* <b>projlib</b> is used to generate a TIBCO BusinessWorks Projlib.

$h2 EAR 

Here is the lifecycle associated with the packaging <b>bw-ear</b>:

| Phase                   | Goal                                                                                                                                                                                                                                                                                                                                         |
|-------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| initialize              | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:initialize](./initialize-mojo.html)                                                                                                                                                                                                                                                   |
| generate-sources        | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-sources](./copy-bw-sources-mojo.html)                                                                                                                                                                                                                                         |
| generate-resources      | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-dependencies](./copy-bw-dependencies-mojo.html)                                                                                                                                                                                                                               |
| process-resources       | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:resolve-bw-dependencies](./resolve-bw-dependencies-mojo.html)                                                                                                                                                                                                                         |
| compile                 | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:update-alias-lib](./update-alias-lib-mojo.html)                                                                                                                                                                                                                                       |
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:compile-bw-ear](./compile-bw-ear-mojo.html)                                                                                                                                                                                                                                           |
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:include-dependencies-in-bw-ear](./include-dependencies-in-bw-ear-mojo.html)                                                                                                                                                                                                           |
| generate-test-sources   | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-test-sources](./copy-bw-test-sources-mojo.html)                                                                                                                                                                                                                               |
| generate-test-resources | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-test-dependencies](./copy-bw-test-dependencies-mojo.html)                                                                                                                                                                                                                     |
| process-test-sources    | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:resolve-bw-test-dependencies](./resolve-bw-test-dependencies-mojo.html)                                                                                                                                                                                                               |
| test                    | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:bw-test](./bw-test-mojo.html)                                                                                                                                                                                                                                                         |
| prepare-package         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:extract-xml-from-ear](./extract-xml-from-ear-mojo.html)                                                                                                                                                                                                                              ||
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:generate-properties-from-xml](./generate-properties-from-xml-mojo.html)                                                                                                                                                                                                              ||
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:generate-deployment-pom](./generate-deployment-pom-mojo.html)                                                                                                                                                                                                                                              ||
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:generate-standalone-deployment-pom](./generate-standalone-deployment-pom-mojo.html)                                                                                                                                                                                                                                              ||
| package                 | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:merge-properties](./merge-properties-mojo.html)                                                                                                                                                                                                                                       |
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:generate-xml-from-properties](./generate-xml-from-properties-mojo.html)                                                                                                                                                                                                               |
| pre-integration-test    | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:it-deploy-bw](./it-deploy-bw-mojo.html)                                                                                                                                                                                                                                               |
| install                 | [org.apache.maven.plugins:maven-install-plugin:install](http://maven.apache.org/plugins/maven-install-plugin/install-mojo.html)                                                                                                                                                                                                              |
| deploy                  | [org.apache.maven.plugins:maven-deploy-plugin:deploy](http://maven.apache.org/plugins/maven-deploy-plugin/deploy-mojo.html)                                                                                                                                                                                                                  |

$h2 Deployment 

Here is the lifecycle associated with the packaging <b>bw-ear-deploy</b>:

| Phase                   | Goal                                                                                                                                                                                                                                                                                                                                         |
|-------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| prepare-package         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:generate-properties-from-xml](./generate-properties-from-xml-mojo.html)                                                                                                                                                                                                               |
| package                 | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:merge-properties](./merge-properties-mojo.html)                                                                                                                                                                                                                                       |
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:generate-xml-from-properties](./generate-xml-from-properties-mojo.html)                                                                                                                                                                                                               |
| deploy                  | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:deploy-bw](./deploy-bw-mojo.html)                                                                                                                                                                                                                                                     |


$notaBene the "deploy" phase will not deploy any artifact on a Maven repository
as defined in standard Maven lifecycles. Instead it will deploy the application
on a TIBCO domain. 

$h2 Projlib 

Here is the lifecycle associated with the packaging <b>projlib</b>:

| Phase                   | Goal                                                                                                                                                                                                                                                                                                                                         |
|-------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| generate-sources        | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-sources](./copy-bw-sources-mojo.html)                                                                                                                                                                                                                                         |
| generate-resources      | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-dependencies](./copy-bw-dependencies-mojo.html)                                                                                                                                                                                                                               |
| process-resources       | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:resolve-bw-dependencies](./resolve-bw-dependencies-mojo.html)                                                                                                                                                                                                                         |
| compile                 | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:update-alias-lib](./update-alias-lib-mojo.html)                                                                                                                                                                                                                                       |
|                         | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:compile-projlib](./compile-projlib-mojo.html)                                                                                                                                                                                                                                         |
| generate-test-sources   | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-test-sources](./copy-bw-test-sources-mojo.html)                                                                                                                                                                                                                               |
| generate-test-resources | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:copy-bw-test-dependencies](./copy-bw-test-dependencies-mojo.html)                                                                                                                                                                                                                     |
| process-test-sources    | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:resolve-bw-test-dependencies](./resolve-bw-test-dependencies-mojo.html)                                                                                                                                                                                                               |
| test                    | [fr.fastconnect.factory.tibco.bw.maven:bw-maven-plugin:bw-test](./bw-test-mojo.html)                                                                                                                                                                                                                                                         |
| install                 | [org.apache.maven.plugins:maven-install-plugin:install](http://maven.apache.org/plugins/maven-install-plugin/install-mojo.html)                                                                                                                                                                                                              |
| deploy                  | [org.apache.maven.plugins:maven-deploy-plugin:deploy](http://maven.apache.org/plugins/maven-deploy-plugin/deploy-mojo.html)                                                                                                                                                                                                                  |
